@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-foreground: #08090a;
    --primary-background: #ffffff;
    --secondary-color: #ff9800;
    --color-background-main: lab(100% 0 0);
    --color-background-header: lab(100% 0 0 / 80%);
    --color-background-invert: lab(2.42579% -.165291 -.470081);
    --color-text-main: lab(2.42579% -.165291 -.470081);
    --color-text-invert: lab(100% 0 0);
    --color-text-soft: lab(2.42579% -.165291 -.470081 / .8);
    --color-text-sub: lab(2.42579% -.165291 -.470081 / .6);
    --color-muted: lab(2.42579% -.165291 -.470081 / .5);
    --color-border-sub: lab(2.42579% -.165291 -.470081 / .07);
    --color-background-soft: lab(2.42579% -.165291 -.470081 / .03);
    --color-background-soft-light: lab(100% 0 0 / .05);
    --color-border-soft-light: lab(100% 0 0 / .15);
    --color-border-surface: lab(2.42579% -.165291 -.470081 / .05);
    --color-border-soft: lab(2.42579% -.165291 -.470081 / .15);
    --color-brand: lab(51.3415% -41.5657 15.3527);
    --color-brand-light: lab(51.3415% -41.5657 15.3527);
    --color-border-solid: lab(2.42579% -.165291 -.470081);
    --color-muted-invert: lab(100% 0 0 / .5);
    --blur-lg: 16px;
    --blur-md: 12px;
    --font-inter: 'Inter', 'Hubot-Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-inter);
}

body {
    background-color: var(--primary-background);
    color: var(--primary-foreground);
    overflow: auto;
}

header {
    width: 100%;
    padding: 16px 24px;
    z-index: 50;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(var(--blur-lg));
}

a {
    text-decoration: none;
}

.header-container {
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    gap: 32px;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    column-gap: 168px;
}

.header-content span {
    padding-top: 4px;
}

.wordmark {
    width: 104px;
    border-radius: 4px;
    animation: logo-swap linear both;
    animation-timeline: scroll();
    animation-range: 0px 500px;
}

.header-content nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-content nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    gap: 4px;
    flex: 1;
}

.header-content nav ul li {
    color: var(--color-text-invert);
    animation: change-color linear both;
    animation-timeline: scroll();
    animation-range: 0px 500px;
    height: 32px;
    display: inline-flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    border-radius: 38px;
    padding: 4px 12px;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 500;

}

.header-actions {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 8px;
}

.header-actions a {
    text-decoration: none;
}

.contact-btn {
    color: var(--color-text-invert);
    animation: change-soft-color linear both;
    animation-timeline: scroll();
    animation-range: 0px 500px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    height: 32px;
    font-size: 15px;
    padding: 4.5px 12px;
    background-color: var(--color-background-soft-light);
    border: 1px solid transparent;
    border-radius: 38px;
    gap: 4px;
    cursor: pointer;
}

.start-btn {
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 32px;
    gap: 6px;
    border-radius: 38px;
    border: 1px solid var(--color-text-invert);
    padding: 4.5px 12px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-text-main);
    animation: change-btn-color linear both;
    animation-timeline: scroll();
    animation-range: 0px 500px;
    background-color: var(--color-background-main);
}

.hero-section {
    position: relative;
    isolation: isolate;
    margin-top: 65.5px;
}

.bg-image-hero {
    background-image: url(public/bg-light.svg);
    width: 100%;
    top: -160px;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    mask-image: linear-gradient(#000 0%, rgba(0, 0, 0, .99) 18.5%, rgba(0, 0, 0, .953) 34.3%, rgba(0, 0, 0, .894) 47.6%, rgba(0, 0, 0, .824) 58.5%, rgba(0, 0, 0, .74) 67.5%, rgba(0, 0, 0, .647) 74.7%, rgba(0, 0, 0, .55) 80.3%, rgba(0, 0, 0, .45) 84.7%, rgba(0, 0, 0, .353) 88%, rgba(0, 0, 0, .26) 90.5%, rgba(0, 0, 0, .176) 92.5%, rgba(0, 0, 0, .106) 94.2%, rgba(0, 0, 0, .047) 95.9%, rgba(0, 0, 0, .01) 97.7%, transparent 100%);
}

.badge {
    position: absolute;
    top: 30px;
    border-radius: 60px;
    left: 50%;
    display: flex;
    width: fit-content;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    background-color: var(--color-border-soft);
    padding: 4px 8px 4px 4px;
    translate: -50% 0;
    backdrop-filter: blur(var(--blur-md));
}

.badge-type {
    text-transform: uppercase;
    border-radius: 60px;
    padding: 2px 8px;
    background-color: var(--color-brand-light);
    font-weight: 500;
    color: var(--primary-background);
    box-shadow: 0 2px 4px 0 var(--color-background-soft);
    font-size: 12px;
    line-height: 18px;
}

.badge-content {
    line-height: 22.5px;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-invert);
}

.clock-svg {
    color: white;
    width: 16px;
    height: 16px;
    display: block;
}

.hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 96px;
    padding-top: 104px;
}

.hero-div h1 {
    width: 100%;
    max-width: 688px;
    text-align: center;
    line-height: 58.88px;
    font-weight: 600;
    text-wrap: balance;
    color: var(--color-text-invert);
    letter-spacing: -.02em;
    font-size: max(2.5rem, min(4vw, 4rem));
}

.hero-div p {
    color: var(--color-text-invert);
    text-wrap: pretty;
    margin-top: 24px;
    font-weight: 400;
    max-width: 472px;
    text-align: center;
    line-height: 27px;
    font-size: 18px;

}

.hero-div form {
    margin-top: 32px;
    display: flex;
    width: 100%;
    max-width: 360px;
    align-items: center;
    gap: 6px;
    border-radius: 38px;
    border: 1px solid var(--color-border-soft);
    background-color: var(--color-border-soft-light);
    padding: 4px;
    backdrop-filter: blur(var(--blur-md));
}

.hero-input {
    padding: 0 12px;
    border: none;
    width: 100%;
    color: var(--color-text-invert);
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    background: transparent;
}

.hero-input:focus {
    outline: none;
}

.hero-input::placeholder {
    color: var(--color-text-invert);
    opacity: 0.6;
}

.hero-div button {
    display: inline-flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
    cursor: pointer;
    gap: 6px;
    line-height: 22.5px;
    padding: 4.5px 12px;
    white-space: nowrap;
    border-radius: 38px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 2px 4px 0 var(--color-background-soft);
    background-color: var(--color-background-main);
    color: var(--color-text-main);
    border: 1px solid var(--color-text-invert);
}

.hero-image-section {
    max-width: 1080px;
    position: relative;
    margin-inline: 16px;
    margin: 0 auto;
}

.hero-image-container {
    overflow: hidden;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border: 3px solid var(--color-background-soft);
    border-bottom: 0 solid !important;
}

.hero-image {
    width: 100%;
    display: block;
    height: auto;
    color: transparent;
    background-color: var(--color-background-main);
}

.company-section {
    padding: 72px 32px 144px 32px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1024px;
    gap: 8px;
    row-gap: 28px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.company-item {
    width: auto;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coinbase {
    transform: scale(90%);
    height: 45px;
}

#paypal {
    transform: scale(170%);
    height: 66px;
}

@keyframes change-color {

    0%,
    99% {
        color: var(--color-text-invert);
    }

    100% {
        color: var(--color-text-main);
    }
}

@keyframes change-soft-color {

    0%,
    99% {
        background-color: var(--color-background-soft-light);
        color: var(--color-text-invert);
    }

    100% {
        background-color: lab(2.42579% -.165291 -.470081/.03);
        color: var(--color-text-main);
    }
}

@keyframes change-btn-color {

    0%,
    99% {
        background-color: var(--color-background-main);
        color: var(--color-text-main);
        border: 1px solid var(--color-text-invert);
    }

    100% {
        background-color: var(--color-background-invert);
        color: var(--color-text-invert);
        border: 1px solid var(--color-text-main);
    }

}

@keyframes logo-swap {

    0%,
    99% {
        filter: invert(0) brightness(1); 
    }

    100% {
        filter: invert(1) hue-rotate(180deg) brightness(1);
    }
}