@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Geist+Mono:wght@100..900&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-foreground: #08090a;
    --primary-background: #ffffff;
    --secondary-color: #ff9800;
    --color-background-main: lab(100% 0 0);
    --color-background-header: lab(100% 0 0 / 80%);
    --color-background-invert: lab(2.42579% -.165291 -.470081);
    --color-text-main: lab(2.42579% -.165291 -.470081);
    --color-text-invert: lab(100% 0 0);
    --color-text-soft: lab(2.42579% -.165291 -.470081 / .8);
    --color-text-sub: lab(2.42579% -.165291 -.470081 / .6);
    --color-muted: lab(2.42579% -.165291 -.470081 / .5);
    --color-border-sub: lab(2.42579% -.165291 -.470081 / .07);
    --color-background-soft: lab(2.42579% -.165291 -.470081 / .03);
    --color-background-soft-light: lab(100% 0 0 / .05);
    --color-border-soft-light: lab(100% 0 0 / .15);
    --color-border-surface: lab(2.42579% -.165291 -.470081 / .05);
    --color-border-soft: lab(2.42579% -.165291 -.470081 / .15);
    --color-brand: lab(51.3415% -41.5657 15.3527);
    --color-brand-light: lab(51.3415% -41.5657 15.3527);
    --color-border-solid: lab(2.42579% -.165291 -.470081);
    --color-muted-invert: lab(100% 0 0 / .5);
    --blur-lg: 16px;
    --blur-md: 12px;
    --font-inter: 'Inter', 'Hubot-Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-inter);
}

body {
    background-color: var(--primary-background);
    color: var(--primary-foreground);
    overflow: auto;
}

header {
    width: 100%;
    padding: 16px 24px;
    z-index: 50;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(var(--blur-lg));
}

a {
    text-decoration: none;
}

.header-container {
    max-width: 1056px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    gap: 32px;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    column-gap: 168px;
}

.header-content span {
    padding-top: 4px;
}

.wordmark {
    width: 104px;
    border-radius: 4px;
    animation: logo-swap linear both;
    animation-timeline: scroll();
    animation-range: 0px 500px;
}

.header-content nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-content nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    gap: 4px;
    flex: 1;
}

.header-content nav ul li {
    color: var(--color-text-invert);
    animation: change-color linear both;
    animation-timeline: scroll();
    animation-range: 0px 500px;
    height: 32px;
    display: inline-flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    border-radius: 38px;
    padding: 4px 12px;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 500;

}

.header-actions {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 8px;
}

.header-actions a {
    text-decoration: none;
}

.contact-btn {
    color: var(--color-text-invert);
    animation: change-soft-color linear both;
    animation-timeline: scroll();
    animation-range: 0px 500px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    height: 32px;
    font-size: 15px;
    padding: 4.5px 12px;
    background-color: var(--color-background-soft-light);
    border: 1px solid transparent;
    border-radius: 38px;
    gap: 4px;
    cursor: pointer;
}

.start-btn {
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 32px;
    gap: 6px;
    border-radius: 38px;
    border: 1px solid var(--color-text-invert);
    padding: 4.5px 12px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-text-main);
    animation: change-btn-color linear both;
    animation-timeline: scroll();
    animation-range: 0px 500px;
    background-color: var(--color-background-main);
}

.hero-section {
    position: relative;
    isolation: isolate;
    margin-top: 65.5px;
}

.bg-image-hero {
    background-image: url(public/bg-light.svg);
    width: 100%;
    top: -160px;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    mask-image: linear-gradient(#000 0%, rgba(0, 0, 0, .99) 18.5%, rgba(0, 0, 0, .953) 34.3%, rgba(0, 0, 0, .894) 47.6%, rgba(0, 0, 0, .824) 58.5%, rgba(0, 0, 0, .74) 67.5%, rgba(0, 0, 0, .647) 74.7%, rgba(0, 0, 0, .55) 80.3%, rgba(0, 0, 0, .45) 84.7%, rgba(0, 0, 0, .353) 88%, rgba(0, 0, 0, .26) 90.5%, rgba(0, 0, 0, .176) 92.5%, rgba(0, 0, 0, .106) 94.2%, rgba(0, 0, 0, .047) 95.9%, rgba(0, 0, 0, .01) 97.7%, transparent 100%);
}

.badge {
    position: absolute;
    top: 30px;
    border-radius: 60px;
    left: 50%;
    display: flex;
    width: fit-content;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    background-color: var(--color-border-soft);
    padding: 4px 8px 4px 4px;
    translate: -50% 0;
    backdrop-filter: blur(var(--blur-md));
}

.badge-type {
    text-transform: uppercase;
    border-radius: 60px;
    padding: 2px 8px;
    background-color: var(--color-brand-light);
    font-weight: 500;
    color: var(--primary-background);
    box-shadow: 0 2px 4px 0 var(--color-background-soft);
    font-size: 12px;
    line-height: 18px;
}

.badge-content {
    line-height: 22.5px;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-invert);
}

.clock-svg {
    color: white;
    width: 16px;
    height: 16px;
    display: block;
}

.hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 96px;
    padding-top: 104px;
}

.hero-div h1 {
    width: 100%;
    max-width: 688px;
    text-align: center;
    line-height: 58.88px;
    font-weight: 600;
    text-wrap: balance;
    color: var(--color-text-invert);
    letter-spacing: -.02em;
    font-size: max(2.5rem, min(4vw, 4rem));
}

.hero-div p {
    color: var(--color-text-invert);
    text-wrap: pretty;
    margin-top: 24px;
    font-weight: 400;
    max-width: 472px;
    text-align: center;
    line-height: 27px;
    font-size: 18px;

}

.hero-div form {
    margin-top: 32px;
    display: flex;
    width: 100%;
    max-width: 360px;
    align-items: center;
    gap: 6px;
    border-radius: 38px;
    border: 1px solid var(--color-border-soft);
    background-color: var(--color-border-soft-light);
    padding: 4px;
    backdrop-filter: blur(var(--blur-md));
}

.hero-input {
    padding: 0 12px;
    border: none;
    width: 100%;
    color: var(--color-text-invert);
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    background: transparent;
}

.hero-input:focus {
    outline-style: none;
}

.hero-input::placeholder {
    color: var(--color-text-invert);
    opacity: 0.6;
}

.hero-div button {
    display: inline-flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
    cursor: pointer;
    gap: 6px;
    line-height: 22.5px;
    padding: 4.5px 12px;
    white-space: nowrap;
    border-radius: 38px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 2px 4px 0 var(--color-background-soft);
    background-color: var(--color-background-main);
    color: var(--color-text-main);
    border: 1px solid var(--color-text-invert);
}

.hero-image-section {
    max-width: 1080px;
    position: relative;
    margin-inline: 16px;
    margin: 0 auto;
}

.hero-image-container {
    overflow: hidden;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border: 3px solid var(--color-background-soft);
    border-bottom: 0 solid !important;
}

.hero-image {
    width: 100%;
    display: block;
    height: auto;
    color: transparent;
    background-color: var(--color-background-main);
}

.company-section {
    padding: 72px 32px 144px 32px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1024px;
    gap: 8px;
    row-gap: 28px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.company-item {
    width: auto;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coinbase {
    transform: scale(90%);
    height: 45px;
}

#paypal {
    transform: scale(170%);
    height: 66px;
}

@keyframes change-color {

    0%,
    99% {
        color: var(--color-text-invert);
    }

    100% {
        color: var(--color-text-main);
    }
}

@keyframes change-soft-color {

    0%,
    99% {
        background-color: var(--color-background-soft-light);
        color: var(--color-text-invert);
    }

    100% {
        background-color: lab(2.42579% -.165291 -.470081/.03);
        color: var(--color-text-main);
    }
}

@keyframes change-btn-color {

    0%,
    99% {
        background-color: var(--color-background-main);
        color: var(--color-text-main);
        border: 1px solid var(--color-text-invert);
    }

    100% {
        background-color: var(--color-background-invert);
        color: var(--color-text-invert);
        border: 1px solid var(--color-text-main);
    }

}

@keyframes logo-swap {

    0%,
    99% {
        filter: invert(0) brightness(1); 
    }

    100% {
        filter: invert(1) hue-rotate(180deg) brightness(1);
    }
}

.feature-section {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    margin-bottom: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 32px;
    gap: 16px;
}

.section-title {
   font-size: 40px;
   color: var(--color-text-main);
   font-weight: 600;
   line-height: 44px;
   text-align: center;
   letter-spacing: -0.8px;
}

.feature-content p {
    color: var(--color-text-soft);
    text-wrap: balance;
    max-width: 648px;
    text-align: center;
    line-height: 1.5;
}

.feature-mockup {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.agent-mockup {
    display: flex;
    gap: 24px;
}

.mockup-card {
    border-radius: 24px;
    border: 1px solid var(--color-border-sub);
    width: fit-content;
    padding: 6px;
}

.card-top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.card-p {
    color: var(--color-text-soft);
    font-size: 16px;
    text-wrap: balance;
    line-height: 1.5;
}


.label {
    text-transform: uppercase;
    color: var(--color-brand);
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.6px;
    font-size: 12px;
    font-family: 'geist mono' , sans-serif;
    text-wrap: pretty;
}

.card-top h3 , .assistant-heading h4 {
    font-weight: 500;
    text-wrap: balance;
    color: var(--color-text-main);
    line-height: 31.2px;
    font-size: 24px;
    letter-spacing: -0.24px;
}


.mockup-svg {
    height: 320px;
    width: auto;
    position: relative;

}

.mockup-svg img {
    height: 100%;
    width: 100%;
}

.assistant-mockup {
    border-radius: 24px;
    border: 1px solid var(--color-border-sub);
    width: 100%;
}

.assistant-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 32px;
    margin: 6px;
    gap: 16px;
}

.assistant-ui {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.assistant-ui img {
    height: 100%;
    width: 100%;
}

.enterprise-section {
    width: 100%;
    background-color: var(--color-background-soft);
    padding: 96px 0;
}

.enterprise-container {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

.enterprise-intro {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 640px;
}

.enterprise-intro h1 {
    font-size: 40px;
    letter-spacing: -0.8px;
    font-weight: 600;
    color: var(--color-text-main);
    line-height: 44px;
    text-align: left;
    text-wrap: balance;
}

.enterprise-heading {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 48px;
}

.enterprise-heading a {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    height: fit-content;
    justify-content: center;
    cursor: pointer;
    gap: 6px;
    border-radius: 38px;
    border: 1px solid var(--color-text-invert);
    color: var(--color-text-invert);
    background-color: var(--color-text-main);
    padding: 7px 24px;
    margin-top: auto;
    margin-right: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    white-space: nowrap;
    box-shadow: 0 2px 4px 0 var(--color-background-soft);
}

.enterprise-content {
    display: flex;
    gap: 48px;
    margin: 24px 0;
    padding-bottom: 48px;
}

.enter-logo {
    color: var(--color-brand);
    width: 32px;
    height: 32px;
}

.enterprise-card h4 {
    margin-top: 32px;
    margin-bottom: 16px;
    color: var(--color-text-main);
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    font-weight: 600;
}

.enterprise-card p {
    text-wrap: pretty;
}

.story-logos {
    position: relative;
    margin-inline: -24px;
    padding-block: 12px;
}

.story-scroll {
    position: relative;
    overflow-x: auto;
    scrollbar-width: none; 
}

.story-flex {
    display: flex;
    width: max-content;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding-inline: 24px;
}

.story-flex button {
    cursor: pointer;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 140px;
    border: 0 solid;
    outline-style: none;
    background-color: transparent;
    opacity: 1;
    color: inherit;
    letter-spacing: inherit;
    font: inherit;
    flex-shrink: 0;
}

.enterprise-story {
    width: 100%;
    overflow: hidden;
}

.story-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.story {
    position: relative;
    display: flex;
    margin-inline: auto;
    height: 518px;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    overflow: hidden;
    border-radius: 24px;
    background: var(--color-background-main);
    padding: 64px;
}

.anthropic-img {
    display: block;
    max-width: 100%;
    scale: 1.15;
    background-color: color-mix(in oklab,var(--color-text-main)20%,transparent);
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    backface-visibility: hidden;
}

.story-p{
    text-transform: uppercase;
    position: relative;
    text-wrap: pretty;
    z-index: 10;
    font-family: 'geist mono', monospace , sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: var(--primary-background);
}

.story h3 {
    color: var(--primary-background);
    position: relative;
    text-wrap: balance;
    z-index: 10;
    margin-top: 16px;
    max-width: 448px;
    font-size: 24px;
    line-height: 1.33;
    font-weight: 500;
    letter-spacing: -0.24px;

}

.story-link {
    margin-top: 32px;
    z-index: 10;
    color: var(--primary-background);
    width: fit-content;

}

.story-link span {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 500;

}

.story-data {
    margin-top: auto;
    display: flex;
    align-items: start;
    gap: 28px;
    position: relative;
    z-index: 10;
}

.story-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 192px;
}

.story-p2 {
    color: color-mix(in oklab, var(--primary-background) 80%, transparent);
    font-size: 14px;
    line-height: 24px;
    text-wrap: balance;
}

.story-h4 {
    color: var(--primary-background);
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.8px;
    text-wrap: pretty;
}

